* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

h1 {
  font-family: 'Playfair Display', serif;
}

header h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 100px;
  color: white;
}

header p {
  text-align: center;
  margin-top: 25px;
  font-size: 2rem;
  margin-bottom: 35px;
  color: #fff;
}

/* .bar {
  height: 15px;
  width: 80%;
  background-color: #60b99a;
  border-radius: 8px;
  margin: 0 auto;
} */

.home-container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(img/home-background-main.jpg);
  background-size: cover;
  background-position: 15% 0%;
  background-attachment: scroll;
  padding: 20px 0;
  box-shadow: 0 0 10px black;
  height: 100vh;
}

ul {
  list-style: none;
}

.info {
  margin-top: 5rem;
}

.home-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.home-flex li {
  padding: 20px;
  margin: 5px;
  letter-spacing: 1.25px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
}

.form input {
  font-size: 1.25rem;
  width: 250px;
  padding: 10px;
  border-radius: 4px;
  width: 400px;
  margin-bottom: 2rem;
}

.form button {
  font-size: 1.25rem;
  width: 250px;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.form button:hover {
  border: 1px solid #008000;
  background-color: #008000;
  font-weight: bold;
  color: white;
}

/* Main */

#main h1 {
  letter-spacing: 3px;
}

#main {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(img/home-background.jpg);
}

#navigation {
  text-align: center;
  padding: 25px;
  width: 100%;
}

#navigation a {
  margin: 20px;
  padding: 10px;
  font-size: 2rem;
  text-decoration: none;
  border: 3px solid #fff;
  border-radius: 4px;
}

#navigation a:hover {
  background-color: #fff;
  color: black;
}

#navigation a:active {
  background-color: #fff;
  color: black;
}

#header {
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
}

.hidden {
  display: none;
}

img {
  height: 80px;
}

section {
  /* border: 2px solid #2f97c1; */
  margin: 10px;
}
